* {
  box-sizing: border-box;
}
:root {
  /* Colors  */
  --soft-red-C: hsl(7, 99%, 70%);
  --Yellow-C: hsl(51, 100%, 49%);
  --graphic-design-text-C: hsl(167, 40%, 24%);
  --photography-text-C: hsl(198, 62%, 26%);
  --footer-C: hsl(168, 34%, 41%);

  --desaturated-blue: hsl(212, 27%, 19%);
  --dark-grayish-blue: hsl(213, 9%, 39%);
  --grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-family: "Fraunces", serif;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}
/* Start nav */
.navbar {
  background-color: #3ebfffba;
}
.navbar .logo {
  color: white;
  font-weight: 800;
  font-size: 30px;
  margin-left: 15px;
}
.navbar .navbar-nav .nav-link {
  color: var(--White);
  border-radius: 30px;
  padding: 12px 26px !important ;
  margin-right: 20px;
  font-size: 16px;
  transition: 0.2s;
}

.navbar .navbar-nav .active {
  color: black !important;
  padding: 12px 26px !important ;
  font-family: "Fraunces", serif;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  text-transform: uppercase;
  transition: 0.2s;
}
@media (max-width: 991px) {
  .navbar .navbar-nav {
    background-color: var(--White);
    padding: 20px;
    transition: 0.2s;
  }
  .navbar .navbar-nav::after {
    content: " ";
    position: absolute;
    top: 42px;
    right: 3%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent var(--White) transparent;
  }
  .navbar .navbar-nav .nav-link {
    color: var(--dark-grayish-blue);
    width: fit-content;
    margin-right: 0;
  }
  .navbar .navbar-nav .active {
    color: black;
    padding: 10px 20px !important;
    font-family: "Fraunces", serif;
    background-color: var(--Yellow-C) !important;
    border-radius: 30px;
  }
}
.navbar .navbar-toggler {
  border: none;
  color: var(--White);
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border: none;
  color: var(--Grayish-blue) !important;
}
/* End nav */
/* Start landing */
.landing {
  background-image: url("../sunnyside-agency-landing-page-main/images/desktop/image-header.jpg");
  background-size: cover;
  min-height: calc(100vh + 64px);
  background-position: center center;
}
.landing .text-center {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.landing .text-center h1 {
  margin-bottom: 90px;
}
.landing .text-center .arrowe {
  height: 205px;
  width: 8px;
  background-color: var(--White);
  position: relative;
  top: 0%;
  left: 50%;
  margin: 0px;
  border-radius: 15px;
  animation: arrowe 2s infinite;
  cursor: pointer;
}
.landing .text-center .arrowe::after,
.landing .text-center .arrowe::before {
  content: " ";
  position: absolute;
  top: 88%;
  width: 65px;
  height: 8px;
  background-color: white;
  border-radius: 15px;
}
@keyframes arrowe {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-20px);
  }
}
.landing .text-center .arrowe::after {
  left: -100%;
  transform: rotate(-45deg);
}
.landing .text-center .arrowe::before {
  right: -100%;
  transform: rotate(45deg);
}
@media (max-width: 991px) {
  .landing {
    background-image: url("../sunnyside-agency-landing-page-main/images/mobile/image-header.jpg");
    background-size: cover;
    min-height: calc(100vh + 64px);
    position: relative;
  }
}
/* End landing */
/* Start About */
.about .info {
  /* visibility: hidden; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px;
}
.about .cont-img img {
  width: 100%;
}

.about .contect .cont-img {
  position: relative;
}
.about .cont-img .text {
  position: absolute;
  top: 76%;
  transform: translatey(-50%);
}
.about .cont-img .text h2 {
  font-family: "Fraunces", serif;
  opacity: 0.7;
  font-weight: 900;
}
.about .cont-img .text p {
  padding: 10px;
  margin: 0px 51px 0px;
  color: var(--dark-grayish-blue);
  line-height: 2;
  letter-spacing: 0.2px;
}
.about .info h2 {
  margin-bottom: 50px;
  font-family: "Fraunces", serif;
  font-size: 35px;
  font-weight: bolder;
  margin-right: 130px;
}
.about .info p {
  color: var(--dark-grayish-blue);
  line-height: 2;
  letter-spacing: 0.2px;
  margin: 0px 10px 10px;
}
.about .info .more {
  font-family: "Fraunces", serif;
  display: inline-block;
  transform: translate(14px, 45px);
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.about .info .leftjs:hover::after {
  content: " ";
  position: absolute;
  bottom: 1%;
  right: -7%;
  width: 122px;
  height: 10px;
  background-color: var(--Yellow-C);
  border-radius: 6px;
  z-index: -1;
}
.about .info .rightjs:hover::after {
  content: " ";
  position: absolute;
  bottom: 1%;
  right: -7%;
  width: 122px;
  height: 10px;
  border-radius: 6px;
  z-index: -1;
  background-color: var(--soft-red-C);
}
@media (max-width: 991px) {
  .about .col {
    flex: none;
  }
  .about .info {
    padding: 80px 50px;
    margin: auto 40px;
    justify-content: center;
  }
  .about .info p {
    text-align: center;
  }
  .about .info h2 {
    margin-right: 0;
    text-align: center;
  }
  .about .cont-img .text p {
    padding: 0;
    margin: 0px 35px 0px;
    line-height: 1.5;
  }
  .about .info .more {
    transform: translate(0px, 45px);
  }
  .about .contect .cont-img {
    order: 1;
  }
  .about .col {
    order: 2;
  }
}
.less {
  border: none;
  font-family: "Fraunces", serif;
  background-color: white;
  transform: translate(350px, 5px);
}
@media (max-width: 800px) {
  .less {
    transform: translate(130px, 5px);
  }
}
.less:hover::after,
.less:focus::after {
  content: " ";
  position: absolute;
  bottom: 1%;
  right: -5%;
  width: 50px;
  height: 10px;
  background-color: #9adacc;
  border-radius: 6px;
  z-index: -1;
}
.about .r::after {
  content: "";
  position: absolute;
  right: calc(100% - 1.5px);
  top: 13%;
  border-width: 27px;
  border-style: solid;
  border-color: transparent #fed301 transparent transparent;
}
.about .l::after {
  content: "";
  position: absolute;
  left: calc(100% - 1px);
  top: 28%;
  border-width: 27px;
  border-style: solid;
  border-color: transparent transparent transparent #fe6a5e;
}
@media (max-width: 991px) {
  .about .r::after {
    right: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-color: #fed301 transparent transparent transparent;
  }
  .about .l::after {
    left: 50%;
    top: calc(100% - 1px);
    transform: translateX(-50%);
    border-color: #fe8374 transparent transparent transparent;
  }
}
/* Start End */
/* Start Testimonals */
.testimonl {
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonl .header {
  margin: 0 auto 70px;
  font-family: "Fraunces", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--Grayish-blue);
}
.testimonl .box {
  position: relative;
  overflow: hidden ;
  cursor: pointer;
}
.testimonl .box::after {
  content: "";
  position: absolute;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  top: 0%;
  left: -100%;
  background-color: hsl(213deg 100% 50% / 10%);
}
.testimonl .box[data-num="one"]::after {
  left: 0%;
  z-index: -1;
}
.testimonl .box:hover::after,
.testimonl .box:focus::after {
  left: 0%;
  z-index: -1;
}
.testimonl .box p {
  color: var(--dark-grayish-blue);
  line-height: 2;
  font-size: 19px;
  margin: 20px 20px 65px 20px;
}
.testimonl .box .name h3 {
  font-family: "Fraunces", serif;
  margin-top: 60px;
}
.testimonl .box .name span {
  margin: 20px;
  display: inline-block;
  color: var(--Grayish-blue);
  font-size: 17px;
}
.over {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.ad-to {
  text-align: center;
  background-color: white;
  border-radius: 23px;
  padding: 20px;
  margin: 15px;
}
.btn-X {
  border-radius: 28%;
  background-color: hsl(7deg 87.59% 61.92%);
  color: white;
  padding: 3px 25px;
  position: absolute;
  cursor: pointer;
  display: flex;
}
.btn-X:hover {
  transition: 0.3s;
  background-color: red;
}
/* End Testimonals */
/* Start footer */
footer {
  background-color: hsl(168.86deg 42.17% 67.45%);
  padding-top: 100px;
  padding-bottom: 100px;
}
footer h1 {
  font-weight: 800;
  font-size: 54px;
  color: var(--footer-C);
}
footer ul {
  list-style-type: none;
}
footer .links li {
  margin-right: 47px;
  text-align: center;
  font-size: 20.5px;
}
footer ul li a {
  text-decoration: none;
  color: var(--footer-C);
}
footer ul li a:hover,
footer ul li a:focus {
  color: var(--White);
}
footer .links li:last-child {
  margin-right: 0;
  margin-left: 5px;
}
footer .loge li {
  margin-right: 20px;
  font-size: 20px;
  color: var(--footer-C);
}
footer .loge li:last-child {
  margin-right: 0;
  margin-left: 5px;
}
/* End footer */
